{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}
{% block content %}
<script type="text/javascript"
        src="{% static 'js/ansto_instrument_manager.js' %}"></script>
{% verbatim %}
    <h2>ANSTO Instrument Manager</h2>
    <h3>My instruments</h3>
    <div ng-controller="InstrumentList">
        <ul>
            <li ng-repeat="instrument in instrumentList">{{ instrument.name }}</li>
        </ul>
    </div>
{% endverbatim %}
{% endblock %}
